.vscode/
data/*
!data/train.csv
!data/valid.csv
out-models/
out_models/
pt-models/
se-models/
*.pyc
*.out
*.sh
*.th
test-pip/
se-out/
results-csv/
dist/
config/test_nomad_loss.yaml
config/test_pip.yaml
utils/librispeechdeg_subset.py
**/__pycache__/
